hr {
  margin-bottom: 4px;
}

hr {
  border-width: 0px;
  border-top-width: 1px;
}

pre {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 3px;
  margin: 15px;
  padding: 10px;
  background-color: aliceBlue;
}
